<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>number</key>
		<string>1.0.0</string>
		<key>changes</key>
		<array>
			<string>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</string>
			<string>چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</string>
			<string>برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</string>
		</array>
	</dict>
	<dict>
		<key>number</key>
		<string>1.0.1</string>
		<key>changes</key>
		<array>
			<string>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</string>
			<string>چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</string>
			<string>برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</string>
		</array>
	</dict>
	<dict>
		<key>number</key>
		<string>1.1.0</string>
		<key>changes</key>
		<array>
			<string>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</string>
			<string>چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</string>
			<string>برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</string>
		</array>
	</dict>
	<dict>
		<key>number</key>
		<string>1.2.0</string>
		<key>changes</key>
		<array>
			<string>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</string>
			<string>چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</string>
			<string>برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</string>
		</array>
	</dict>
	<dict>
		<key>number</key>
		<string>2.0.1</string>
		<key>changes</key>
		<array>
			<string>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</string>
			<string>چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</string>
			<string>برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</string>
		</array>
	</dict>
	<dict>
		<key>number</key>
		<string>3.2.1</string>
		<key>changes</key>
		<array>
			<string>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</string>
			<string>چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</string>
			<string>برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</string>
		</array>
	</dict>
	<dict>
		<key>number</key>
		<string>4.0.6</string>
		<key>changes</key>
		<array>
			<string>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</string>
			<string>چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</string>
			<string>برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</string>
		</array>
	</dict>
	<dict>
		<key>number</key>
		<string>4.2</string>
		<key>changes</key>
		<array>
			<string>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</string>
			<string>چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</string>
			<string>برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</string>
		</array>
	</dict>
	<dict>
		<key>number</key>
		<string>5</string>
		<key>changes</key>
		<array>
			<string>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</string>
			<string>چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</string>
			<string>برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</string>
		</array>
	</dict>
	<dict>
		<key>number</key>
		<string>5.1</string>
		<key>changes</key>
		<array>
			<string>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است.</string>
			<string>چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است.</string>
			<string>برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.</string>
		</array>
	</dict>
</array>
</plist>
